body {
  background-color: var(--green-color);
}

.div-faq {
  width: 100%;
  max-width: 990px;
  padding: 15px;
  margin: auto;
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.footerHome {
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .footerHome {
    position: static;
  }
  .div-faq{
    margin-bottom: 30px;
  }
}

.faqTitle {
  color: black;
}

.form-control {
  background-color: rgba(0, 54, 58, .50);
  border-color: var(--green-color);
  color: white;
}

.form-control:focus {
  border-color: var(--green-color);
  box-shadow: 0 0 0 0.2rem rgba(0, 54, 58, .50);
  background-color: rgba(0, 54, 58, .50);
  color: white;
}

.form-control::placeholder {
  color: white;
}

.netflics {
  margin-top: 5%;
  margin-left: 15%;
  width: 70%;
}
