.form-control {
    background-color: rgba(0, 54, 58, .50);
    border-color: var(--green-color);
    color: white;
}

.form-control:focus {
    border-color: var(--green-color);
    box-shadow: 0 0 0 0.2rem rgba(0, 54, 58, .50);
    background-color: rgba(0, 54, 58, .50);
    color: white;
}

.form-control::placeholder {
    color: white;
}