.form-control {
    background-color: rgba(0, 54, 58, .50);
    border-color: var(--green-color);
    color: white;
}

.form-control:focus {
    border-color: var(--green-color);
    box-shadow: 0 0 0 0.2rem rgba(0, 54, 58, .50);
    background-color: rgba(0, 54, 58, .50);
    color: white;
}

.form-control::placeholder {
    color: white;
}

.like {
    right: 38.5% !important;
}

.titulosHome {
    margin-top: 3% !important;
    margin-bottom: -30px !important;
}

.recomendaciones {
    margin-top: 60px;
}

@media (max-width: 768px) {

    .white,
    .viernescomicos,
    .infoTerminarVer,
    .continuarMirando {
        font-size: 1.5rem !important;
    }
}

@media (max-width: 370px) {

    .white,
    .viernescomicos,
    .continuarMirando {
        font-size: 1.3rem !important;
    }

    .infoTerminarVer {
        font-size: 0.7rem !important;
    }
}