:root {
    --main-bg-color: #001751;
    --background-info-color: rgba(255, 255, 255, 0.3);
    --green-color: #428E92;
    --green2-color: #2E7377;
    --green3-color: #006064;
    --calificar-color: #428E92;
    --boton-color: #FF551F;
    --boton-hover: rgb(221, 63, 15);
}

body {
    background: var(--green3-color);
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

.footerHome {
    margin-top: 3%;
}

/*pelicula*/
.pelicula {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 22px;

    background: var(--background-info-color);
    border-radius: 3px;
}


.movieContainer {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 22px;

    background: var(--background-info-color);
    border-radius: 3px;
    margin: 3rem;
}

.movieRow {
    padding: 3rem;
}

.image {
    width: 20%;
    margin-left: 2%;
    margin-top: 2%;
    object-fit: cover;
}

.iconos {
    position: absolute;
    margin-left: 21.5%;
    margin-top: -5.2%;
}

.titulo {
    width: 30%;
    margin-left: 25%;
    margin-top: -29%;


    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.descripcion {
    height: 10%;
    margin-left: 25%;
    margin-top: -0.5%;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: #000000;
}

.sinopsis {
    width: 70%;
    height: 10%;
    margin-left: 25%;
    margin-top: 0%;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;

    color: #000000;
}

.vertrailer,
.verpelicula {
    margin-top: 1%;
    margin-bottom: 15%;
    width: 132px;
    height: 44px;
    background-color: var(--boton-color);
    border-radius: 9px;
    border-color: var(--boton-color);
}


.vertrailer:hover,
.verpelicula:hover,
.comentar:hover {
    background-color: var(--boton-hover);
}

.vertrailer a,
.verpelicula a {
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 40px;
    padding-left: 30px;
    color: #FFFFFF;
}

.vertrailer {
    margin-left: 25%;
}

.verpelicula {
    margin-left: 5px;
}

/*comentario*/
.comentario {
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;

    background: var(--background-info-color);
    border-radius: 3px;
}

.comentario p {
    padding-left: 30px;
    width: 95%;
    height: 95%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
}

.comentario h1 {
    padding-top: 30px;
    padding-left: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    padding-left: 30px;

    color: #000000;
}

.comentar {
    margin-left: 50%;
    margin-top: 2%;
    width: 130px;
    height: 30px;
    background-color: var(--boton-color);
    border-radius: 9px;
}

.comentar p {
    position: absolute;
    height: 16px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.usuario {
    background: rgba(0, 54, 58, 0.6);
    border-radius: 9px;
}

.calificacion {
    background: #FFFFFF;
    border-radius: 9px;
}

.agregarcomentario {
    background: rgba(0, 54, 58, 0.6);
    border-radius: 9px;
}

.agregarcomentario input {
    padding-top: 10px;
    padding-bottom: 80px;
}

.usuario input,
.agregarcomentario input,
.calificacion input {
    width: 440.19px;
}

.btnEnviar {
    background-color: var(--boton-color);
    border-radius: 9px;
    border: 0px;
    width: 263px;
    ;
    color: #FFFFFF;
}

.btnEnviar:hover {
    background-color: var(--boton-hover);
    color: #FFFFFF;
}

.inputsComentario,
.inputsCalificacion {
    display: block;
}

.form-control {
    background-color: rgba(0, 54, 58, .50);
    border-color: var(--green-color);
    color: white;
}

.form-control:focus {
    border-color: var(--green-color);
    box-shadow: 0 0 0 0.2rem rgba(0, 54, 58, .50);
    background-color: rgba(0, 54, 58, .50);
    color: white;
}

.form-control::placeholder {
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-select {
    background-color: rgba(0, 54, 58, .50);
    border-color: var(--green-color);
    color: white;
}

.custom-select:focus {
    border-color: var(--green-color);
    box-shadow: 0 0 0 0.2rem rgba(0, 54, 58, .50);
    background-color: rgba(0, 54, 58, .50);
    color: white;
}

.custom-select::placeholder {
    color: white;
}

.btnComment {
    width: 25%;
}

.commentContainer {
    background: var(--background-info-color);
    border-radius: 3px;
}

.commentTitle {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.btnSendComment {
    margin: auto;
    width: 50%;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: var(--cancel-color);
    border-radius: 9px;
    border: 0px;
    color: #FFFFFF;
}

.cardImg {
    width: 100%;
}

.btnTrailer {
    width: 15%;
}

.btnMovie {
    width: 20%;
    margin-left: .5rem;
}

.star {
    width: 50px;
    height: 50px;
}

@media (max-width: 768px) {
    .movieContainer {
        margin: 1rem;
    }

    .movieRow {
        padding: 1rem;
    }

    .btnComment {
        width: 100%;
    }

    .btnTrailer {
        width: 100%;
    }

    .btnMovie {
        width: 100%;
        margin-left: 0px;
        margin-top: 5px;
    }
}

input[type="radio"] {
    display: none;
}

.star {
    color: lightgrey;
}

.clasificacion {
    direction: rtl;
    /* right to left */
    unicode-bidi: bidi-override;
    /* bidi de bidireccional */
}

.star:hover,
.star:hover~.star {
    color: yellow;
}

input[type="radio"]:checked~.star {
    color: yellow;
}

#form .star {
    font-size: 50px;
}

#form {
    width: 270px;
    margin: 0 auto;
    height: 50px;
}

#form p{
    text-align: center;
}

#calificacion {
    background: var(--calificar-color);
}