:root {
    --main-bg-color: #001751;
    --background-info-color: rgba(255, 255, 255, 0.3);
    --green-color: #428E92;
    --green2-color: #2E7377;
    --green3-color: #006064;
    --modal-color: rgba(0, 54, 58, 0.9);
    --boton-color: #FF551F;
}

body {
    background: var(--green3-color);
    overflow-x: hidden;
    font-family: Open Sans;
}

.footerHome {
    margin-top: 72%;
}

/*serie*/
.serie {
    position: absolute;
    width: 1400px;
    height: 544px;
    left: 22px;
    top: 92px;

    background: var(--background-info-color);
    border-radius: 3px;
}

.image {
    position: absolute;
    width: 298px;
    height: 391px;
    left: 30px;
    top: 15px;
    object-fit: cover;
}

.star {
    position: absolute;
    width: 45.56px;
    height: 45.59px;
    left: 179.6px;
    top: 340px;
    background: url(images/mision.jpg) no-repeat;
}

.heart {
    position: absolute;
    width: 45.56px;
    height: 45.59px;
    left: 250px;
    top: 340px;
    background: url(images/mision.jpg) no-repeat;
}

.titulo {
    position: absolute;
    width: 373px;
    height: 41px;
    left: 396px;
    top: 15px;

    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.descripcion {
    position: absolute;
    height: 25px;
    left: 396px;
    top: 60px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: #000000;
}

.sinopsis {
    position: absolute;
    width: 942px;
    height: 84px;
    left: 396px;
    top: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;

    color: #000000;
}

.vertrailer,
.verserie {
    position: absolute;
    top: 160px;
    width: 132px;
    height: 44px;
    background-color: var(--boton-color);
    border-radius: 9px;
}

.vertrailer:hover,
.verserie:hover,
.comentar:hover {
    background-color: var(--boton-color);
}

.vertrailer a,
.verserie a {
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 40px;
    padding-left: 30px;
    color: #FFFFFF;
}

.vertrailer {
    left: 396px;
}

.verserie {
    left: 600px;
}

.capitulos {
    position: absolute;
    width: 105px;
    height: 33px;
    left: 394px;
    top: 250px;

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;

    color: #FFFFFF;
}

.scrollable-menu {
    height: auto;
    max-height: 160px;
    overflow-x: hidden;
}

.temporadas {
    position: absolute;
    width: 156px;
    height: 39.29px;
    left: 508px;
    top: 250px;
}

.temporadas,
.temporadas ul {
    background-color: var(--main-bg-color);
    border-radius: 3px;
}

.temporadas ul li a,
.temporadas button {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 33px;
    color: #FFFFFF;
}

.capitulo1,
.capitulo2,
.capitulo3,
.capitulo4,
.capitulo5 {
    position: absolute;
    width: 160.28px;
    height: 200.22px;
    top: 300px;
    object-fit: cover;
}

.capitulo1 {
    left: 394px;
}

.capitulo2 {
    left: 574.28px;
}

.capitulo3 {
    left: 754.56px;
}

.capitulo4 {
    left: 934.84px;
}

.capitulo5 {
    left: 1115.12px;
}

.capitulo6 {
    position: absolute;
    width: 105px;
    height: 200.22px;
    top: 300px;
    left: 1295.4px;
    opacity: 0.4;
}

.flecha {
    position: absolute;
    left: 93%;
    right: 3%;
    top: 70%;
    bottom: 20%;

    background: url(images/mision.jpg) no-repeat;
}

/*comentario*/
.comentario {
    position: absolute;
    width: 860px;
    height: 440px;
    left: 258px;
    top: 712px;

    background: var(--background-info-color);
    border-radius: 3px;
}

.comentario p {
    padding-left: 30px;
    width: 815px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
}

.comentario h1 {
    padding-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    padding-left: 30px;

    color: #000000;
}

.comentar {
    position: absolute;
    top: 10px;
    left: 650px;
    width: 130px;
    height: 30px;
    background-color: var(--boton-color);
    border-radius: 9px;
}

.comentar p {
    position: absolute;
    height: 16px;
    top: calc(50% - 16px/2 + 0.1px);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.usuario {
    background: rgba(0, 54, 58, 0.6);
    border-radius: 9px;
}

.calificacion {
    background: #FFFFFF;
    border-radius: 9px;
}

.agregarcomentario {
    background: rgba(0, 54, 58, 0.6);
    border-radius: 9px;
}

.agregarcomentario input {
    padding-top: 10px;
    padding-bottom: 100px;
}

.usuario input,
.agregarcomentario input,
.calificacion input {
    width: 440.19px;
}

.btnEnviar {
    background-color: var(--boton-color);
    border-radius: 9px;
    border: 0px;
    width: 263px;;
    color: #FFFFFF;
}

.btnEnviar:hover {
    background-color: var(--boton-color);
    opacity: .90;
    color: #FFFFFF;
}

.inputsComentario{
    display: block;
}

#comentario {
    height: 393px;
    width: 469px;
}