:root {
    --main-bg-color: #001751;
    --background-info-color: rgba(255, 255, 255, 0.3);
    --green-color: #428E92;
    --green2-color: #2E7377;
    --green3-color: #006064;
    --modal-color: rgba(0, 54, 58, 0.9);
    --boton-color: #FF551F;
}

body {
    background: var(--green3-color);
    overflow-x: hidden;
    font-family: Open Sans;
}

.footerHome {
    margin-top: 3%;
}

/*serie*/
.serie {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 22px;

    background: var(--background-info-color);
    border-radius: 3px;
}

.image {
    width: 20%;
    margin-left: 2%;
    margin-top: 2%;
    object-fit: cover;
}

.iconos {
    position: absolute;
    margin-left: 21.5%;
    margin-top: -5.2%;
}

.titulo {
    width: 30%;
    margin-left: 25%;
    margin-top: -29%;

    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.descripcion {
    height: 10%;
    margin-left: 25%;
    margin-top: -0.5%;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: #000000;
}

.sinopsis {
    width: 70%;
    height: 10%;
    margin-left: 25%;
    margin-top: 0%;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;

    color: #000000;
}

.vertrailer,
.verserie {
    margin-top: 1%;
    width: 132px;
    height: 44px;
    background-color: var(--boton-color);
    border-radius: 9px;
    border-color: var(--boton-color);
}

.vertrailer:hover,
.verserie:hover,
.comentar:hover {
    background-color: var(--boton-color);
    opacity: .9
}

.vertrailer a,
.verserie a {
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 40px;
    padding-left: 30px;
    color: #FFFFFF;
}

.vertrailer {
    margin-left: 25%;
}

.verserie {
    margin-left: 5px;
}

.selecciontemporada {
    margin-top: 5px;
    margin-left: 25%;
    display: flex;
}


.capitulos {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;

    color: #FFFFFF;
}

.scrollable-menu {
    height: auto;
    max-height: 160px;
    overflow-x: hidden;
}

.temporadas {
    width: 156px;
    height: 39.29px;
    margin-left: 10px;
}

.temporadas,
.temporadas ul {
    background-color: var(--main-bg-color);
    border-radius: 9px;
}

.temporadas ul li a,
.temporadas button {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 33px;
    color: #FFFFFF;
}

.temporadas button:hover {
    color: rgb(200, 200, 200);
}

.capitulo1,
.capitulo2,
.capitulo3,
.capitulo4,
.capitulo5,
.capitulo6 {
    width: 160.28px;
    height: 200.22px;
    object-fit: cover;
    padding-left: 10px;
}

.listacapitulos {
    margin-left: 25%;
    margin-top: 1.5%;
}

.capitulo6 {
    opacity: 0.4;
}

/*comentario*/

.comentario {
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;

    background: var(--background-info-color);
    border-radius: 3px;
}

.comentario p {
    padding-left: 30px;
    width: 95%;
    height: 95%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
}

.comentario h1 {
    padding-top: 30px;
    padding-left: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #000000;
}

.comentar {
    margin-left: 50%;
    margin-top: 2%;
    width: 130px;
    height: 30px;
    background-color: var(--boton-color);
    border-radius: 9px;
    border-color: var(--boton-color);
}

.comentar p {
    height: 16px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.usuario {
    background: rgba(0, 54, 58, 0.6);
    border-radius: 9px;
}

.calificacion {
    background: #FFFFFF;
    border-radius: 9px;
}

.agregarcomentario {
    background: rgba(0, 54, 58, 0.6);
    border-radius: 9px;
}

.agregarcomentario input {
    padding-top: 10px;
    padding-bottom: 100px;
}

.usuario input,
.agregarcomentario input,
.calificacion input {
    width: 440.19px;
}

.btnEnviar {
    background-color: var(--boton-color);
    border-radius: 9px;
    border: 0px;
    width: 263px;
    ;
    color: #FFFFFF;
}

.btnEnviar:hover {
    background-color: var(--boton-color);
    opacity: .90;
    color: #FFFFFF;
}

.inputsComentario {
    display: block;
}

#comentario {
    height: 393px;
    width: 469px;
}