:root {
    --main-bg-color: #001751;
    --main-bggreen-color: #006064;
    --login-footer-color: #00363A;
    --green-color:  #428E92;
    --green2-color: #2E7377;
    --cancel-color: #FF3D00;
    --alert-color: #DC3545;
    --accept-color: #01A39D;
    --modal-color: rgba(0, 54, 58, 0.9);
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

body {
    font-family: "Open Sans";
}

/* NAVBAR */

nav {
    background-color: var(--main-bg-color);
}

.logoImg {
    width: 75%;
}

.iconSearch {
    color: white;
}

.dropdown-menu {
    background-color: var(--green-color);
    padding: 0px;
}

.menuItem {
    background-color: var(--green-color);
    border: 1px solid var(--green2-color);
}

.menuItem:hover {
    background-color: var(--green-color);
    opacity: .75;
}

/* FILTER */

.dropdown-divider{
    border: 1px solid var(--green2-color);
}

/* NOTIF + FAV */
.notifFavImg{
    width: 150px;
    height: 65px;
    object-fit: cover;
    margin-right: 20px;
}

.notifFavText{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-shadow: -1px 0 var(--green2-color), 0 1px var(--green2-color), 1px 0 var(--green2-color), 0 -1px var(--green2-color);
}

.notifFavText:active{
    color: #000000;
    text-shadow: -1px 0 var(--green2-color), 0 1px var(--green2-color), 1px 0 var(--green2-color), 0 -1px var(--green2-color);
}

/* MY ACCOUNT */

.myAccountText{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}
.myAccountText:active{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

/* FOOTER */
.footerHome{
    width: 100%;
    height: 75px;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
}

.letterSpacing-4{
    letter-spacing: 15px;
}

.fab {
    cursor: pointer;
}

/* MODAL */

.modal-content {
    background: var(--modal-color);
    border-radius: 9px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.modal-title{
    color: #FFFFFF;
    font-size: 24px;
    line-height: 24px;
}

.modal-header {
    border: 0px;
}

.modal-footer {
    border: 0px;
}

.close {
    color: #FFFFFF;
}

.close:hover {
    color: #FFFFFF;
}

.btnCancel{
    background-color: var(--cancel-color);
    border-radius: 9px;
    border: 0px;
    color: #FFFFFF;
}

.btnCancel:hover{
    background-color: var(--cancel-color);
    opacity: .75;
    color: #FFFFFF;
}

.btnCancel.disabled, .btnCancel:disabled {
    color: #fff;
    background-color: grey;
    border-color: grey;
    cursor: default;
}

.btnAccept {
    background-color: var(--accept-color);
    border-radius: 9px;
    border: 0px;
    color: #FFFFFF;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background-color: var(--accept-color);
    border-radius: 9px;
    border: 0px;
    color: #FFFFFF;
}

.btnAccept:active{
    background-color: var(--accept-color);
    border-radius: 9px;
    border: 0px;
    color: #FFFFFF;
}

.btnAccept:hover {
    background-color: var(--accept-color);
    opacity: .75;
}

.btnAccept a {
    color: #FFFFFF;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
body {
  background-color: #006064;
  
  
}
.col-md-5, .description {
  padding: 0;
}
.description {
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
}
.card-header, .metadata {
  background: none;
  padding: 0;
  position: relative;
  border-style: none;
}
.metadata {
  font-size: 16px;
}
.metadata i, .metadata p {
  float: left;
}
.metadata p {
  margin-top: 0;
  margin-left: 10px;
}
.metadata i {
  color: #ff9d00;
  margin-top: 5px;
  margin-left: 1px;
}
/*.card-img {
  -webkit-clip-path: inset(10% 0 20% 0);
  clip-path: inset(10% 0 20% 0);
  /*margin-top: -15%;
}*/
.card-body {
  position: relative;
  margin-top: -30%;
  color: #9FA7A9;
}
.card-body .card-title {
  font-weight: 600;
  color: #414345;
}
.card-body .card-text {
  margin-top: 8px;
  font-weight: 600;
  line-height: 30px;
}
.card, .trailer-preview, .like {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card:hover, .trailer-preview:hover, .like:hover {
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.18);
}
.card {
  border-radius: 8pt;
  border-style: none;
  overflow: hidden;
  transform: scale(0.8);
  margin-top: -60px;
}
.trailer-preview {
  background-color: #FF551F;
  position: absolute;
  top: 84%;
  right: 90px;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  color: white;
  font-size: 28px;
  text-align: center;
  padding-top: 13px;
  transform: scale(0.8);
}
.trailer-preview:hover, .trailer-preview:disabled, .trailer-preview:active, .trailer-preview:focus {
  background-color: #FF551F;
  color: white;
}
.trailer-preview i {
  margin-left: 1px;
}

.like {
    background-color: #FF551F;
    position: absolute;
    top: 84%;
    right: 18px;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    color: white;
    font-size: 28px;
    text-align: center;
    padding-top: 13px;
    transform: scale(0.8);
  }
  .like:hover, .like:disabled, .like:active, .like:focus {
    background-color: #FF551F;
    color: white;
  }
  .like i {
    margin-left: 1px;
  }

  .notHiperlink:link {
      color: inherit;
      text-decoration: none;
  }


.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #080d15;
  opacity: .7;
}

.overlayText { 
  font-size: 50px;
  position:absolute;
  z-index:12;
  top:42%;
  left:0;
  width:100%;
  text-align:center;
}

.whiteHeart {
  color: white;
}

.cursorPointer {
  cursor: pointer;
}

.overlayText h1 {
  color:#FF551F;
}

.verMas {
  background-color: #001751;
  margin-top: 50%;
}

.continuarMirando {
  background-color: #FF3D00;
}

h3, h1 {
  color: white;
}